<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <title>进入群聊</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
        body {
            background: url("https://tvax4.sinaimg.cn/large/a540b426gy1gddhi039uqj21hc0u0nec.jpg") no-repeat fixed center;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class="container" style="padding-top:5%">
        <div class="row" style="text-align:center; padding:10px;">
            <div class="col-md-4 col-md-offset-4">
                <h1 style="color:white">登录聊天室</h1>
            </div>
        </div>
        <div class="row" style="padding:5%;">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">登录聊天室</h3>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" form action="/chat/login/" method="post">
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="请输入聊天昵称" name="loginId" type="text" required="true" autofocus="true" value="">
                                </div>
                                {{msg}}
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="进入聊天室">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>