<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat_with_rabbitMQ</title>
</head>
<body>
    <center>
        <h1>聊天室登录</h1>
        <form action="/chat/login/" method="POST">
        {% csrf_token %}
        
        <input  type="text"  name="loginId" placeholder="请输入聊天昵称" value="{{ loginId }}" required>

        <br>
        <!-- <label style="color:red;">{{ msg }}</label>  -->
        <label>{{ msg }}</label> 

        <br>

        <button id = "button" type="submit">进入聊天室</button>
        </form>
    </center>
</body>
</html>